.colorCustomizationPanel {
  border-radius: 12px;
  padding: 1.5rem;
  z-index: 10;
  max-height: 445px; 
  overflow-y: scroll;
}

/* Custom scrollbar for colorCustomizationPanel */
.colorCustomizationPanel::-webkit-scrollbar {
  width: 2px;
}

.colorCustomizationPanel::-webkit-scrollbar-track {
  background: transparent;
}

.colorCustomizationPanel::-webkit-scrollbar-thumb {
  background: #505841;
  border-radius: 1px;
  width: 2px;
}

.colorCustomizationPanel::-webkit-scrollbar-thumb:hover {
  background: #505841;
}

/* Firefox support */
.colorCustomizationPanel {
  scrollbar-width: thin;
  scrollbar-color: #505841 transparent;
}

.colorSection {
  margin-bottom: 2rem;
  gap: 0.625rem;
}

.colorSection:last-child {
  margin-bottom: 0;
}

.colorSection h4 {
  margin: 0 0 10px 0;
  font-size: 1rem;
  font-weight: 700;
  color: #2e3228;
}

.colorOptions {
  display: flex;
  gap: 1.359rem;
  flex-wrap: wrap;
}

.colorButton {
  height: 4rem;
  width: 4rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease;
  position: relative;
}

.colorButton:hover {
  transform: scale(1.1);
}

.colorButton.active {
  outline: 2px solid #333;
  outline-offset: 2px;
  box-shadow: 5.436px 5.436px 5.436px 0 rgba(0, 0, 0, 0.4) inset;
}

.colorName {
  text-align: center;
}

/* .colorButton.active::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
} */
