# Operativsystem
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Dependencies
node_modules/
vendor/

# Environment
.next/
.env
.env.*

# Build/Output
dist/
build/
target/

# Logs
*.log

# Cache
.cache/

.next/

CLAUDE.md

.claude